<!DOCTYPE html>
<html>

<head>
    <title>{{t}}</title>
    <!-- href="/static/assets/style.css"-->
    <link rel="stylesheet" type="text/css" href="../static/assets/style.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/emoji.css">
    <script src="../static/assets/twemoji.min.js"></script>
    <script src="../static/assets/emoji.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/assets/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/fixedHeader.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/responsive.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap-reboot.css" />

    <script type="text/javascript" src="../static/assets/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../static/assets/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="../static/assets/js/dataTables.fixedHeader.js"></script>
    <script type="text/javascript" src="../static/assets/js/dataTables.responsive.js"></script>
    <script>
        $(document).ready(function() {
            $('#table_id').DataTable({
                scrollX: true,
                scrollY: true
            });
        });

    </script>
</head>

<body>
    <h1>ANOIA Makerspace Inventory System</h1>
    {% block nav %}
    <ul>
        <li><a href="/list" class="{{ a1 }}">ALL</a></li>
        <li><a href="/" class="{{ a2 }}">Material</a></li>
        <li><a href="/type/manual" class="{{ a3 }}">Manual Tools</a>
        <li><a href="/type/power" class="{{ a3 }}">Power Tools</a>
        <li><a href="/machine" class="{{ a3 }}">Machines</a></li>
        <li><a href="/consumable" class="{{ a3 }}">Consumables</a>
        <li><a href="/stuff" class="{{ a3 }}">Stuff</a>
        <li><a href="/login" style=float:right>Login</a></li>
    </ul>
    {% endblock %}
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% if todos[0] %}
    <b><big>Inventory :</big></b>
    {% block list %}
    <div class="table-responsive-sm">
        <table id="table_id" class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr id="row">
                    <th class="status">Status</th>
                    <th class="desc">Description</th>
                    <th class="length">Length</th>
                    <th class="width">Width</th>
                    <th class="thick">Thickness</th>
                    <th class="mat">Material</th>
                    <th class="comment">Comments</th>
                    <th class="func1">Remove</th>
                    <th class="func2">Modify</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                <tr class="datas">
                    <td><input type="image" src="../static/images/yes.png" alt="Submit ME"></td>
                    <td class="desc">{{todo.desc}}</td>
                    <td class="length">{{todo.length}}</td>
                    <td class="width">{{todo.width}}</td>
                    <td class="thick">{{todo.thickness}}</td>
                    <td class="mat">{{todo.material}}</td>
                    <td class="comment">{{todo.comments}}</td>
                    <td class="func1"><a href="./remove?_id={{ todo['_id'] }}"><button type="submit" class="btn btn-outline-danger">DELETE</button></a></td>
                    <td class="func1"><a href="./update?_id={{ todo['_id'] }}"><button type="submit" class="btn btn-outline-primary">EDIT</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
    {% else %}
    <hr>

    <h4>No Tasks in the List !!</h4>

    <hr />
    {% endif %}

    {% block actionbar %}

    <form action="/action/{{ type }}" method="POST">
        <table class="table table-dark">
            <thead>
                <tr>
                    <td><b><big><label>Add an item : </label></big></b></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><textarea name="desc" rows="1" cols="20" placeholder="Enter Description here..."></textarea></td>
                    <td><input type="text" name="length" placeholder="length" /></td>
                    <td><input type="text" name="width" placeholder="width" /></td>
                    <td><input type="text" name="thickness" placeholder="thickness" /></td>
                    <td><input type="text" name="material" placeholder="material" /></td>
                    <td><input type="text" name="comments" placeholder="comments" /></td>
                    <td><button type="submit"> Create </button></td>
                </tr>
            </tbody>
        </table>
    </form>

    {% endblock %}

    {% block details %}
    {% endblock %}
</body>
</html>
